@import "./variables";
footer {
    display: flex;
    flex-direction: row;
}

footer h5 {
    font-size: 14px;
    color: $primary-color;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: 100px;
}

.container-footer-icons {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    margin: 0 100px 31px auto;
    font-size: 16px;
    color: $primary-color;
}

@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 16px;
    }
    footer h5 {
        margin-left: 0;
        font-size: 14px;
        color: $primary-color;
        font-family: 'IBM Plex Mono', monospace;
    }
    .container-footer-icons {
        width: 270px;
        margin: 16px auto 31px auto;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        color: $primary-color;
    }
}