@import "./variables";
@media screen and (max-width: 640px) {
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 44px;
        background: $white-color;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
    }
    header>img {
        width: 24px;
        height: 24px;
        margin: 10px 0px 10px 16px;
    }
    input#abrir-cerrar {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }
    .toggle-button {
        display: block;
        width: 38px;
        height: 32px;
        position: relative;
        cursor: pointer;
        align-self: center;
        margin: 16px 10px 16px 0px;
    }
    .toggle-button:before,
    .toggle-button:after {
        position: absolute;
        display: block;
        content: " ";
        width: calc(100% / 2);
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }
    .toggle-button:before {
        top: calc(100% / 4);
        height: calc(100% / 4);
        border-top: 1.5px solid $black-color;
        border-bottom: 1.5px solid $black-color;
        background-color: transparent;
    }
    .toggle-button:after {
        height: 1.5px;
        background-color: $black-color;
        bottom: calc(100% / 4);
    }
    input#abrir-cerrar:checked+.toggle-button:before,
    input#abrir-cerrar:checked+.toggle-button:after {
        top: calc(100% / 2);
        height: 1px;
        border-bottom: 0;
    }
    input#abrir-cerrar:checked+.toggle-button:before {
        transform: rotate(45deg);
    }
    input#abrir-cerrar:checked+.toggle-button:after {
        transform: rotate(-45deg);
    }
    .nav-menu {
        position: absolute;
        background: $third-color;
        width: 100%;
        top: 43px;
        margin-left: -100%;
        transition: all 0.5s;
    }
    .nav-menu ul {
        flex-direction: column;
    }
    .item-menu {
        margin: 16px 0 24px 16px;
        font-family: 'IBM Plex Mono';
    }
    .item {
        height: 28px;
        color: $white-color;
        font-size: 16px;
    }
    .item:hover {
        text-decoration: none;
        color: $white-color-variant;
        text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1), 0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1), 0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1), 0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1), 0 0 180px rgba(38, 104, 127, 1);
    }
}

@media screen and (min-width: 641px) {
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        background: $white-color;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
    }
    header>img {
        width: 30px;
        height: 30px;
        margin: 15px 0px 15px 16px;
    }
    input#abrir-cerrar {
        visibility: hidden;
        position: absolute;
        top: -9999px;
    }
    .toggle-button {
        display: block;
        width: 42px;
        height: 36px;
        position: relative;
        cursor: pointer;
        align-self: center;
        margin: 16px 10px 16px 0px;
    }
    .toggle-button:before,
    .toggle-button:after {
        position: absolute;
        display: block;
        content: " ";
        width: calc(100% / 2);
        box-sizing: border-box;
        left: calc(100% / 4);
        transition: all 0.2s ease-out;
    }
    .toggle-button:before {
        top: calc(100% / 4);
        height: calc(100% / 4);
        border-top: 1.5px solid $black-color;
        border-bottom: 1.5px solid $black-color;
        background-color: transparent;
    }
    .toggle-button:after {
        height: 1.5px;
        background-color: $black-color;
        bottom: calc(100% / 4);
    }
    input#abrir-cerrar:checked+.toggle-button:before,
    input#abrir-cerrar:checked+.toggle-button:after {
        top: calc(100% / 2);
        height: 1px;
        border-bottom: 0;
    }
    input#abrir-cerrar:checked+.toggle-button:before {
        transform: rotate(45deg);
    }
    input#abrir-cerrar:checked+.toggle-button:after {
        transform: rotate(-45deg);
    }
    .nav-menu {
        position: absolute;
        background: $third-color;
        width: 100%;
        height: auto;
        top: 60px;
        margin-left: -100%;
        transition: all 0.5s;
    }
    .nav-menu ul {
        flex-direction: column;
    }
    .item-menu {
        margin: 16px 0 24px 16px;
        font-family: 'IBM Plex Mono';
    }
    .item {
        height: 28px;
        color: $white-color;
        font-size: 18px;
    }
    .item:hover {
        text-decoration: none;
        color: $white-color-variant;
        text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1), 0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1), 0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1), 0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1), 0 0 180px rgba(38, 104, 127, 1);
    }
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        background: white;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
    }
    header>img {
        width: 36px;
        height: 36px;
        margin: 22px 0px 22px 100px;
    }
    input#abrir-cerrar,
    input,
    label,
    .toggle-button {
        display: none;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 50%;
        position: static;
        background-color: $white-color;
        margin-right: 100px;
    }
    .nav-menu ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }
    .item-menu {
        margin: 26px 0 26px 48px;
    }
    .item {
        font-family: 'IBM Plex Mono';
        text-decoration: none;
        font-size: 16px;
        color: $primary-color;
    }
    .item:visited {
        color: $primary-color-variant;
        text-decoration: line-through;
    }
    .item:hover {
        color: $secondary-color;
        text-decoration: line-through;
        text-shadow: none;
    }
    .item:active {
        color: $primary-color-variant;
        text-decoration: line-through;
    }
}