$primary-color: #060A24;
$primary-color-variant: rgba(6, 10, 36, 0.56);
$secondary-color: #00F3BB;
$white-color: white;
$white-color-variant: whitesmoke;
$black-color: black;
$third-color: #0000EC;
$primary-color-gardient: linear-gradient(225deg, rgba(0, 0, 254, 100%), rgb(0, 240, 184));
$primary-color-gardient-variant: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$secondary-color-gardient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);